img {
  &.lazy {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;
    &.loaded {
      opacity: 1;
      visibility: visible;
    }
  }
}
.img-spinner {
  background-color: rgba(white, 0.15);
  background-image: url("/img/thick-spinner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
img,
.wrapper {
  max-width: 100%;
  height: auto;
  max-height: auto;
}
button {
  color: inherit;
  line-height: normal;
}
