/*Fallback for browsers without flex support*/
.wrapper-content{
	width:50%;
	padding:0 15px 60px;
	float:left;
	> :last-child{
		margin-bottom:0;
	}
}

.wrapper{
	display:block;
	width:1520px;
	margin:10vh auto 10vh;
	&:after, &:before{
	 	display:table;
		content:''
	}
	&:after{
	 clear:both;
	}
}

@supports (display:flex){
	.wrapper, .wrapper-content{float:none;width:auto}
	.wrapper{
		display:flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width:1520px;
	}
	.wrapper-content{
		flex:5 1 600px;
		padding:0 15px 60px;
	}

	h1{
		flex:100% 0;
	}

}
@media screen and (max-width:760px){
	.wrapper-content{width:100%;float:none;order:2}
}
