.v-loader{
	&-enter, &-leave-to{
		opacity:0;
	}
	&-enter{
		transform:translateX(100px)
	}
	&-leave-to{
		transform:translateX(-100px);
	}
	&-enter-active {
		transition: all .2s ease-out;
	}
	&-leave-active{
		transition: all .2s ease-out;
	}
}
.route-spinner{
	position:fixed;
	top:50%;
	left:50%;
	height:45%;
	width:auto;
	transform:translate(-50%, -50%);
}
