@import "../../../scss/master.scss";
.work-wrapper {
  // background-color:white;
  width: 1200px;
  max-width: 100%;
  // color:#fab2d7;
  // padding:40px;
  padding: 10px;
  margin-bottom: 0;
  @include breakpoint(sm) {
    padding: 40px;
  }
}
.internal-page-wrapper {
  padding-top: 1px;
  h1 {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
}
.VueCarousel {
  &-slide {
    height: 600px;
    overflow: auto;
  }

  &-pagination {
    position: absolute;
    bottom: 0;
  }
}
.header-wrapper {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  @include breakpoint(sm) {
    padding: 40px;
  }
  + .internal-page-wrapper .wrapper {
    margin-top: 3vh;
  }
  h2 {
    font-size: 2em;
    text-transform: uppercase;
  }
}
.portfolio {
  &-header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 100%;
    width: 1400px;
    @include breakpoint(sm) {
      padding: 40px;
    }
    &-image {
      display: block;
      width: 100%;
      background-color: rgba(white, 0.15);
      @include breakpoint(415) {
        width: 414px;
        height: 736px;
      }
      @include breakpoint(1024) {
        width: 840px;
        height: 610px;
      }
    }
    &-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-transform: uppercase;
      @include breakpoint(sm) {
        padding: 40px;
        left: 50%;
      }
      a {
        border-bottom: none;
      }
    }
  }
}
.pink-bg-text {
  background-color: #fab2d7;
  color: white;
  padding: 5px 0;
  box-shadow: 10px 0 0 #fab2d7, -10px 0 0 #fab2d7;
  margin-left: -10px;
  transition: background-color 0.2s;
  @supports (-webkit-box-decoration-break: clone) {
    box-shadow: none;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 5px 10px;
  }
}
a.pink-bg-text:hover {
  background-color: #d1c7f9;
}
